body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
*{

 font-family: "Montserrat", "sans-serif";
}
.container{
    background-color: #D0BFFF;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width:1700px;
    max-width: 100%;
    min-height: 900px;
}
.banner{
    background-color:#7360DF;
    border-radius:0 30px 0 0;
    width: 1700px;
    height: 30%;
    margin-left: 120px;
   
    
  
}
.leftBanner{
height: 100%;
background-color: aliceblue;
width: 7%;


}
.banner h1{
    color: white;
    font-weight: 400;
    position: absolute;
    top: 5%;
    left: 10%;
}
.toogle{
    width: 1500px;
    position: absolute;
    margin: 0 20px 0 20px;
    top: 15%;
    height: 80%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
